* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
}
body {
    background: #2d3436;
    height: 200vh;
    max-width: 100%;
    width: 100%;
}
section {
    position: relative;
    background: #636e72;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.slider {
    left: 0;
    max-height: 100%;
    display: flex;
    position: absolute;
}
.slid{
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    top: 0;
}
.next, .prev {
    border-radius: 5px;
    width: 50px;
    height: 50px;
     
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    border: solid white 2px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.next:hover, .prev:hover{
    transform: scale(1.2);
    transition: all 1s;
}
.arrow{
    background-image: url(slid/svg.svg);
    width: 30px;
    height: 30px;
    transition: all 1s;
}
.arrow:hover {
    transition: all 1s;    
}
.next{
    background-image: url(slid/b.jpg);
}
.prev {
    background-image: url(slid/h.jpg);
}

.control {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}
.next .arrow {
    transform: rotate(180deg);
}

.slid:nth-child(1){
background-image: url(slid/a.jpg);
}
.slid:nth-child(2){
background-image: url(slid/b.jpg);
}
.slid:nth-child(3){
background-image: url(slid/c.jpg);
}
.slid:nth-child(4){
background-image: url(slid/d.jpg);
}
.slid:nth-child(5){
background-image: url(slid/e.jpg);
}
.slid:nth-child(6){
background-image: url(slid/f.jpg);
}
.slid:nth-child(7){
background-image: url(slid/g.jpg);
}
.slid:nth-child(8){
background-image: url(slid/h.jpg);
}
.dot{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin: 20px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.5s;
    border: solid white 2px;
    }
.dot:hover {
    transition: all 0.5s !important;
    transform: scale(1.2) !important; 
    background-color: rgba(0, 0, 0, 1) !important;
}
.dots{
    top: 90%;
    z-index: 2;
    position: absolute;
}