* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
}
body {
    background: #2d3436;
    height: 200vh;
    max-width: 100%;
    width: 100%;
}
section {
    position: relative;
    background: #636e72;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.slider {
    left: -100%;
    max-height: 100%;
    display: flex;
    position: absolute;
}
.slid{
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    top: 0;
}
.next, .prev {
    border-radius: 5px;
    width: 50px;
    height: 50px;
     
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease 0.6s;
    border: solid white 2px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.next:hover, .prev:hover{
    transform: scale(1.05);
    transition: ease 0.3s;
}
.arrow{
    background-image: url(slid/svg.svg);
    width: 30px;
    height: 30px;
    transition: ease 0.6s;
}
.arrow:hover {
    transition: ease 0.6s;    
}
.next{
    background-image: url(slid/b.jpg);
}
.prev {
    background-image: url(slid/h.jpg);
}

.control {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}
.next .arrow {
    transform: rotate(180deg);
}

.dot{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin: 20px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.4);
    transition: ease 0.6s;
    border: solid white 2px;
    }
.dot:hover {
    transition: ease 0.6s !important;
    background-color: white;
}
.dots{
    top: 90%;
    z-index: 2;
    position: absolute;
} 